<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5" />
    <title>Reservation</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<div class="topnav" style="position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 20%;
    height: 8%;">
    <a class="active" th:href="@{/department}" method="get">Department Screen</a>
    <a href="javascript: document.logoutForm.submit()" value="/logout" >LogOut</a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>

</div>

<li>
    <a id="time" style="font-size: 50px; position: fixed;
    top: 10%;
    right: 5%;
    z-index: 999;"></a>
    <script th:inline="javascript">
        function setTime(){
            var dt=new Date();
            var strHour=dt.getHours();
            var strMinutes=dt.getMinutes();
            if (strMinutes<10) strMinutes="0"+strMinutes;
            strTime=strHour+":"+strMinutes;
            time.innerHTML=strTime;
        }
        setInterval("setTime()",1000);
    </script>
</li>

<div class="content" style=" position: fixed;
    top: 20%;
    left: 20%;
    z-index: 999;">
    <h1 class="reservationHeader">Specialists status</h1>
    <table>
        <tr th:each="s : ${specialists}">
            <td>
                <strong th:th:if="${s.getCustomerInVisit() != null}" th:text="${s.getUsername()}" style="font-size: 25px; color: red;"></strong>
                <strong th:th:if="${s.getCustomerInVisit() == null}" th:text="${s.getUsername()}" style="font-size: 25px; color: green;"></strong>
                <strong th:th:if="${s.getCustomerInVisit() != null}" style="font-size: 20px; text-align: center;">ID: </strong>
                <strong th:text="${s?.customerInVisit?.getId()}" style="font-size: 20px; text-align: center;"></strong>
            </td>
        </tr>
    </table>
</div>

<div class="content" style= "position: fixed;
    top: 20%;
    right: 20%;
    z-index: 999;">
    <h1 class="reservationHeader">Customers list</h1>
    <table>
        <tr th:each="c : ${customers}">
            <td>
                    <strong style="font-size: 25px; text-align: center;">Specialist: </strong>
                    <strong th:text="${c.getSpecialist().getUsername()}" style="font-size: 25px; text-align: center;"></strong>
                    <strong style="font-size: 25px; text-align: center;"> | ID: </strong>
                    <strong th:text="${c.id}" style="font-size: 25px; text-align: center;"></strong>
                    <strong style="font-size: 25px; text-align: center;"> | Time: </strong>
                    <strong th:text="${c.visitTime}" style="font-size: 25px; text-align: center;"></strong> <br>
            </td>
        </tr>
    </table>
</div>

</body>
</html>
