<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Specialist management</title>

  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

  <div class="topnav" style="position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 15%;
      height: 8%;">
    <a class="active" th:href="@{/specialist}" method="get">Specialist Screen</a>
    <a href="javascript: document.logoutForm.submit()" value="/logout" >LogOut</a>

    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      <input hidden type="submit" value="Sign Out"/>
    </form>

  </div>

  <li>
    <a id="time" style="font-size: 50px; position: fixed;
      top: 10%;
      right: 5%;
      z-index: 999;"></a>
    <script th:inline="javascript">
      function setTime(){
        var dt=new Date();
        var strHour=dt.getHours();
        var strMinutes=dt.getMinutes();
        if (strMinutes<10) strMinutes="0"+strMinutes;
        strTime=strHour+":"+strMinutes;
        time.innerHTML=strTime;
      }
      setInterval("setTime()",1000);
    </script>
  </li>

  <div th:if="${error}" style="font-size: 20px; position: fixed;
      top: 100px;
      right: 50%;
      z-index: 999;">
    <p class="text-danger" th:text="${error}" style="font-size: 20px;"></p>
  </div>

  <div class="content" style="position: fixed;
      top: 200px;
      right: 75%;
      z-index: 999;">
    <form th:th:unless="${status}" th:action="@{/specialist/start}" method="post">

        <input type="hidden" th:value="START" name="type" />
        <button type="submit" class="button" >Start new visit</button>
    </form>

    <form th:if="${status}" th:action="@{/specialist/end}" method="post">

      <input type="hidden" th:value="END" name="type" />
      <button  type="submit" class="closebtn">End visit</button>
    </form>
  </div>

  <div class="content" style=" margin-top: 150px ;
      top: 0%;
      margin-left: 45%;
      z-index: 999;">
    <h1 class="reservationHeader">Customers list</h1>
    <table>
      <tr th:each="c : ${reservations}">
        <td>
          <form th:action="@{/specialist/delete}" method="delete">
            <strong style="font-size: 20px; text-align: center;">ID: </strong>
            <strong th:text="${c.id}" style="font-size: 20px; text-align: center;">|</strong>
            <strong style="font-size: 20px; text-align: center;"> | Time: </strong>
            <strong th:text="${c.visitTime}" style="font-size: 20px; text-align: center;"></strong>
            <input type="hidden" th:value="${c.id}" name="id" />
            <button type="submit" class="button">Remove</button>
          </form>

        </td>
      </tr>
    </table>
  </div>

</body>
</html>
